.container{
     margin: 150px;
     padding: 10px;
}

.pink{
     background-color: pink;
     height: 50px;
     margin: 10px;
}


.darkPink{
     background-color: hotpink;
     height: 50px;
     margin: 10px;
}

.blue{
     background-color: lightblue;
     height: 50px;
     margin: 10px;
}
.green{
     background-color: limegreen;
     height: 50px;
     margin: 10px;
}
.orange{
     background-color: orange;
     height: 50px;
     margin: 10px;
}

